footer {
    margin-top: 10vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

footer img {
    border-radius: 50%;
    max-height: 50px;
    margin: 25px 15px;
}
