body, html {
    padding: 0;
    margin: 0;
}

body{
    background-color: beige;
}

.m1 {
    margin:1rem;
}

.displayFlex {
    display: flex;
}

.test0 {
    text-align: left;
    position: relative;
    top: 10vh;

}

.test1 {
    text-align: center;
    position: relative;
    top: 10vh;

}
.test2 {
    text-align: right;
    position: relative;
    top: 10vh;
}
.test3 {

}
.test4 {

}

.test5 {

}
.test6 {

}