<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
    <link rel="stylesheet" type="text/css" href="/footer.css">


</head>
<body>
<div th:replace="/includes/topPart :: topPart"></div>
<div>
    <h3>Hvad er madspild?</h3>
    <p>bla bla bla</p>
</div>
<div>
    <h3>Hvad gør vi?</h3>
    <p>Info om madplan, og apps</p>
</div>
<div>
    <h3>Tips og trix til apps</h3>
    <p>Links til fx to good to go, netto osv...</p>
</div>
<footer th:replace="/includes/footer :: footer"></footer>
</body>
</html>