<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Organisation</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
    <link rel="stylesheet" type="text/css" href="/footer.css">


</head>
<body>
<div th:replace="/includes/topPart :: topPart"></div>

<h2 class="indexHeaders">Hvem er vi?</h2>
<div class="alignCenter indexBoxes">

        <div>
        <img class="indexSplitImage"  src="/images/CO.png"/><p>Formand </p> <p> Crystal Hansen</p> </div>
        <div> <img class="indexSplitImage"  src="/images/CEO.jpg"/> <p>Næstformand</p> <p> Fanny Deep</p></div>
         <div> <img class="indexSplitImage"  src="/images/Jan.jpg"/> <p>Marketingschef</p> <p> Jan Leton</p></div>
        <div><img class="indexSplitImage"  src="/images/COO.jpg"/> <p>Studieadministravtiv medarbejder</p> <p>Ben Dover </p></div>
    </div>






<h3 class="samarbejdsPartnere">Samarbejdspartnere</h3>
<div class="samarbejdsPartnere">
    <div>
        <div>
            <a href="https://toogoodtogo.dk/da"> <img class="samarbejdsPartnereImage"
                                                      src="/images/tooGoodToGo.png"/></a>

            <a href="https://netto.dk/ansvar/madspild/"><img class="samarbejdsPartnereImage"
                                                             src="/images/madSkalSpises.png"/></a>
        </div>
    </div>
</div>
<footer th:replace="/includes/footer :: footer"></footer>
</body>
</html>