<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="footer">
        <div>
            <h3>Kontakt</h3>
            <h4>Addresse:</h4>
            <p>Langegade 69, 5823 Sturstrup</p>
            <h4>Telefon:</h4>
            <p>+45 58 69 54 58</p>
        </div>
        <div>
            <h3>Sociale Medier</h3>
            <a href="https://facebook.com">
                <img src="/images/facebook.webp" alt="">
            </a>
            <a href="mailto: company@example.com">
                <img src="/images/mail.jpg" alt="">
            </a>
            <a href="https://instagram.com">
                <img src="/images/instagram.png" alt="">
            </a>
        </div>
</footer>

</body>
</html>
